<style>

.container{
    margin-top: 20rem;
    margin-left: 30rem;
}


</style>



<div class="container">


<a routerLink="/as-cabin"><button type="button" class="btn btn-success">As a Food Cabin</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/as-customer"><button type="button" class="btn btn-success">As a Customer</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/as-deliver"><button type="button" class="btn btn-success">As a Delivery Person</button></a>



</div>

