<body style="background-image: url(assets/images/22.gif); height: 50px; background-color: black;">

</body>
<body style="background-image: url(assets/images/newacc.gif); height: 800px;background-position: center; background-size: cover;display: flex;">

    
<!--add customer -->
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <b><h2 style="text-align: center;font-style: italic;">Customer Details</h2></b>
      <div class="example-container">
        <mat-form-field>
           <mat-label>Full Name</mat-label>
           <input matInput>
           </mat-form-field>
       </div>
        
       <div class="example-container">
        <mat-form-field>
           <mat-label>Address</mat-label>
           <input matInput>
           </mat-form-field>
       </div>
        
    
       <div class="example-container"> 
      <mat-form-field>
        <mat-label>Telephone</mat-label>
        <span matPrefix>+94 &nbsp;</span>
        <input type="tel" matInput placeholder="710-000-000">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
     
      </div>
    
        <div class="example-container">  
          <mat-form-field>
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
    
        <div class="example-container">
            <mat-form-field>
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
        </div>
        
          <div class="example-container">
            <mat-form-field>
              <mat-label>Reenter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/after-adding-customer"><button  (click)="submit()"  mat-raised-button color="primary" >Submit</button></a>
             </div>
      
    </div>
    <div class="col"></div>
              
</div>
</div>
<!-- /add customer -->

  </body>    
 <!-- footer -->

 <div class="toolbar" role="banner" style="background-color:black; height: 300px; margin-top: 0px;">
  <div class="row" style="height: 200px;">
    
  <h2 style="color:red; font-size:x-large; margin-left: 2rem;"><b>Pambahinna</b></h2> &nbsp;
  <h1 style="color:yellow; font-size:x-large;"><b><i>Food Delivery</i> </b></h1>
  
  <ul style="display: grid;">
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/cabin">Add Food Cabin</a></li>
    <li><a routerLink="/deliver">Add Deliver</a></li>
    <li><a routerLink="/customer">Add Customer</a></li>
  </ul>

  <ul style="display: grid;">
    <li><a routerLink="/signin">SignIn/Register</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>


 </div>
</div>

 <!--// footer-->

 
 
 



