<mat-toolbar color="primary">Pambahinna Food Delivery

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="background-color: chartreuse;">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">

  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item routerLink="/about">
    <mat-icon>about</mat-icon>
    <span>About us</span>
  </button>

  <button mat-menu-item routerLink="/cabin">
    <mat-icon>add</mat-icon>
    <span>Food Cabin</span>
  </button>

  <button mat-menu-item routerLink="/customer">
    <mat-icon>add</mat-icon>
    <span>Customer</span>
  </button>
  
  
  <button mat-menu-item routerLink="/deliver">
    <mat-icon>add</mat-icon>
    <span>Deliver</span>
  </button>
  
  <button mat-menu-item routerLink="/signin">
    <mat-icon>man</mat-icon>
    <span>login</span>
  </button>
  
</mat-menu>
</mat-toolbar>


     
<router-outlet></router-outlet>