
:host {
  font-family: -apple-system, BlinkMacSystemFont, 
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  margin: 10px 0;
}

p {
  margin: 0;
}


.toolbar{
  height: 100px;
  margin: -8px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.container{
  margin-top: 0.25rem;
}

.toolbar ul li{
  display: inline;
}
.navbar navbar-expand-lg navbar-light bg-light{
align-content: center;

}

/*footer*/
.footer-main-div{
width: 100%;
height: auto;
margin: auto;
background:rosybrown;
padding: 20px 0px;
}

.footer-social-icons{
width: 100%;
height: auto;
margin: auto;
}

.footer-social-icons ul{
margin: 0px;
padding: 0px;
text-align: center;
}


@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

