
<body style="background-color:cadetblue; height: 120%;">

 <div class="banner" style="height: 400px; background-image: url(assets/images/5.gif);">

  <br>
  
  <h2 style="color: black; margin-top: 175px;text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <i> Your favorite food, delivered with Pambahinna Food Delivery </i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#"><button class="btn btn-info">Find Foods</button></a>
   </h2>
  <br>
  </div>
      
 <div style="height: 330px; width: 600px; background-image: url(assets/images/bg4.png); float: inline-start;margin-left: 5rem; margin-top: 100px;">
  <h1 style="text-align: center;margin-top: 8rem;"><i><b> Your Food Cabin,delivered</b></i></h1>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  <a routerLink="/cabin"> <button class="btn btn-info">Add Your Food Cabin</button></a>
  
  </div>
 
 <div style="height: 330px; width: 600px;background-color: #333; background-image: url(assets/images/bg3.png); 
 float: inline-end; margin-right:5rem; margin-top: 100px;">
 <h1 style="text-align: center;margin-top: 8rem;color: aliceblue;"><i><b> Deliver the Eats</b></i></h1>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;
 <a routerLink="/deliver"> <button class="btn btn-info">Join to the deliver</button></a>
 
 </div>

  
<!-- footer -->

<div class="toolbar" role="banner" style="background-color: black;height: 300px;margin-top: 30%;">
  <div class="row" style="height: 200px;">
    
  <h2 style="color:red; font-size:x-large; margin-left: 2rem;"><b>Pambahinna</b></h2> &nbsp;
  <h1 style="color:yellow; font-size:x-large;"><b><i>Food Delivery</i> </b></h1>
  
  <ul style="display: grid;">
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/cabin">Add Food Cabin</a></li>
    <li><a routerLink="/deliver">Add Deliver</a></li>
    <li><a routerLink="/customer">Add Customer</a></li>
  </ul>

  <ul style="display: grid;">
    <li><a routerLink="/signin">SignIn/Register</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>


 </div>
</div>

 <!--// footer-->

</body>
  
