
<!--toolbar-->
<br>
<div class="toolbar" role="banner" style="background-color: cadetblue;">
    <h2 style="color:red; font-size:x-large; margin-left: 2rem;"><b>Pambahinna</b></h2> &nbsp;
    <h1 style="color: black; font-size:x-large;"><b><i>Food Delivery</i> </b></h1>
   
   </div>
   <!--//toolbar-->

   <body style="background-image: url(assets/images/newacc.gif); height: 900px;">
    <div class="loginbox">
      <h1>Customer Details</h1>
      <form>
          <p>Full Name</p>
          <input type="text" name="">
          <p>Address</p>
          <input type="text" name="">
          <p>Mobile No</p>
          <input type="text" name="">
          <p>Email</p>
          <input type="text" name="">
          <p>Password</p>
          <input type="password" name=""><br>
          <p>Confirm Password</p>
          <input type="password" name=""><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/after-adding-customer"> <button class="btn btn-success">Submit</button></a><br><br>
     

 
      </form>
    </div>
 
  </body>    
 <!-- footer -->

 <div class="toolbar" role="banner" style="background-color:black; height: 300px; margin-top: 0px;">
  <div class="row" style="height: 200px;">
    
  <h2 style="color:red; font-size:x-large; margin-left: 2rem;"><b>Pambahinna</b></h2> &nbsp;
  <h1 style="color:yellow; font-size:x-large;"><b><i>Food Delivery</i> </b></h1>
  
  <ul style="display: grid;">
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/cabin">Add Food Cabin</a></li>
    <li><a routerLink="/deliver">Add Deliver</a></li>
    <li><a routerLink="/customer">Add Customer</a></li>
  </ul>

  <ul style="display: grid;">
    <li><a routerLink="/signin">SignIn/Register</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>


 </div>
</div>

 <!--// footer-->

 
 
 



